.aboutmetitle{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-transform: capitalize;
    color:#5870f0;
}
.descT{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
}
@media screen  and (max-width: 500px) {
    .aboutmetitle {
        font-family: 'Dancing Script', cursive;
        font-size: 32px;
        text-transform: capitalize;
        color: #5870f0;
    }
    .descT {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 400;
    }

}
