.footermain {
        display: grid;
        background-color: whitesmoke;
        font-size: initial;
}
.footer{
    display:grid;
    min-height:5vh;
    grid-template-columns:1fr 1fr 1fr 1fr;
    align-content: center;
    grid-area: "e f g h";
}
.red{
    grid-area:e;
    background-color: red;
    grid-column: 1/2;

}
.green{
    grid-area:f;
    background-color: green;
    grid-column: 2/3;
    min-height:5vh;
}
.yellow{
    grid-area:g;
    background-color: yellow;
    grid-column: 3/4;

}
.purple{
    grid-area:h;
    background-color: purple;
    grid-column: 4/5;

}

